<!-- FAQ -->
<section id="faq" class="section anchor-space">
  <div class="container card">
    <h2>FAQ</h2>
    <details>
      <summary>Wie sicher ist ein Direktkredit?</summary>
      <p>Der Kredit ist nicht ohne Risiko, denn sollte unsere GmbH insolvent sein, kann es passieren, dass Direktkredite nicht zurückgezahlt werden können.
      </p>
      <p>
         Dies ist allerdings sehr unwahrscheinlich, da die Insolvenzmasse weiterhin wertvoll wäre. Ein Haus und Grunstück wird in Frankfurt am Main in der Zukunft
         wohl immer noch von Wert sein. Vor allem aber sind die Mieteinnahmen der GmbH sehr sicher, weshalb schon die Insolvenz unwahrscheinlich ist.
      </p>
    </details>
    <details>
      <summary>Welche Vorteile habe ich als Direktkreditgeber:in?</summary>
      <p>Der Kredit bietet keinen finanzellen Vorteil, der Vergleichbar mit Tagesgeldkonten, Anleihen oder Aktiendepots wäre. Er ist vor allem eine solidarische Unterstützung für uns
      als Wohnprojekt und eine Förderung eines vergemeinschafteten, solidarischen Konzepts des Zusammenlebens und -wohnens.</p>
    </details>
    <details>
      <summary>Welche Rolle spielt das Mietshäusersyndikat?</summary>
      <p>Zunächst keine besonders große. Derzeit tritt es vor allem als Berater auf, der uns bei der Gründung der GmbH und der Ausgestaltung der Direktredite unterstützt. Sollten wir, wie wir es derzeit erwägen, dem Syndikat beitreten, wird es als Gesellschafter der GmbH ein Vetorecht bezüglich des Verkaufs der Immobilie haben.</p>
    </details>
    <details>
      <summary>Kann man ein Kredit auch wieder zurückfordern?</summary>
      <p>In der Regel nicht. Ein Direktkredit hat eine Laufzeit, an die beide Seiten vertraglich gebunden sind. Wir können aber in bestimmten Fällen sicherlich eine
      individuelle Lösung finden.</p>
    </details>
       <details>
      <summary>Was bedeutet "endfällig" eigentlich?</summary>
      <p>Ein endfälliger Kredit wird erst am Ende seine Laufzeit getilgt. Die Tilgung erfolgt also nicht jährlich in Raten, sondern nach Ablauf des im Kreditvertrag festgelegten Zeitraums.</p>
    </details>
  </div>
</section>
