<!-- HAUS -->
<section id="haus" class="section anchor-space">
  <div class="container grid grid-2">
    <figure class="card image-card">
      <img src="img/haus1.jpeg" alt="Unser Haus vom Garten aus gesehen">
      <img src="img/garten1.jpeg" alt="Gemüsegarten">
    </figure>
    <div class="card">
      <h2>Das Haus</h2>
      <p>
        Das zweiteilige Haus besteht aus einem sanierten Altbau aus den fünfziger Jahren und einem Anbau aus dem Jahr 2015. Rund 400 m² Wohnfläche stehen der Wohngemeinschaft zur Verfügung, außerdem
        bietet ein großer Garten Platz zur Erholhung und zum Gemüseanbau. Im Keller und Garten befinden sich Atelierräume sowie eine Holz- und eine Kermamikwerkstatt. Der Keramikbrennofen
        steht Menschen in Frankfurt und Umgebung zum Brennen zur Verfügung.
      </p>
      <p>
        Das Haus bietet zehn Zimmer, fünf Bäder, zwei Küchen und ein Wohnzimmer, sowie einen Arbeitsbereich für das Homeoffice. Für eine Wohngemeinschaft ist das Einrichtungsniveau durchaus gehoben und das Gebäude wurde im Zuge des Anbaus frisch saniert.
      </p>
      <p>  
        Natürlich ist nicht alles perfekt: Die meisten Privatzimmer sind nicht größer als ca. 15 m². Die Gemeinschaftsräume sind zwar großzügig, aber bieten durch die sehr offene Bauweise wenig zusätzliche Rückzugsmöglichkeiten. Daher besteht der Wunsch, mit dem Kauf auch einen An- bzw. Ausbau des Hauses vorzunehmen.
      </p>
       <p>
        Im Garten haben wir mehrere Gemüse- und Kräuterbeete angelegt, die einen Teil unsers Bedafs decken. Ob Kürbis oder rote Beete, ob Schnittlauch oder Koriander, wir
        lieben es und haben viel Spaß beim Anbau und der Ernte. Im hinteren Teil des Garten spenden
        zahlreiche Bäume im Sommer Schatten und bieten einen gewissen Lärmschutz gegen die nahegelegene Autobahn.
        </p>
        <p>
        Der Garten wird von uns biologisch bewirtschaftet und bietet Vögeln, Insekten und Kleinsäugern Nahrung und Lebensraum. Grünspechte, Kohlmeisen und Turmfalken fühlen sich bei uns ebenso zu Hause wie Wildbienen, Igel und Eichhörnchen. Auch die Nachbarskatze kommt manchmal zu Besuch.
      </p>
    </div>
  </div>
</section>
