<!-- HERO -->
<section class="hero section">
  <div class="container">
    <span class="tag">Gemeinschaftlich wohnen – solidarisch finanzieren</span>
    <h1>Wir sind der Syntopie e.V. Seit 2023 mieten wir ein Haus mit Garten in Frankfurt-Unterliederbach. Wir haben uns zum Ziel gesetzt, gemeinschaftlich, sozial und nachhaltig zu wohnen.
</h1>
  </div>
  <div class="container grid grid-2">
    <div>
       <p>
        In unserem Wohnprojekt leben wir als WG zusammen. Unser Zusammenleben organisieren wir in regelmäßig stattfindenden Plena. Wir haben eine solidarische Essenskasse und treffen uns
        häufig zu gemeinsamen Mahlzeiten. Jede Person hat ihr Privatzimmer, aber wir nutzen viele Räume gemeinschaftlich, u.a. zwei Küchen, ein großes Wohn- und Esszimmer, einen
        Arbeitsbereich, einen Wintergarten und einen großen Keller, in dem wir eine Werkstatt eingerichtet haben. In unserem weitläufigen Garten
        bauen wir Gemüse an. Darüber hinaus bietet er Platz zum Spielen und Entspannen, ob beim Lesen im Grünen, am gemütlichen Lagerfeuer oder beim
        Beobachten von Vögeln und Eichhörnchen.
       </p>
      <p>
        Derzeit leben zwölf Personen in der Syntopie, darunter drei Kinder. Wir streben an, langfristig miteinander zu leben. Damit das Wohnprojekt auch ein Ort für Kinder ist, haben wir uns auf ein familienfreundliches Mietmodell geeinigt.
      </p>
        <h3>Aktuell haben wir einen großen Plan: Wir wollen das Haus, in dem wir bisher zur Miete wohnen, kaufen. Daher brauchen wir eure Unterstützung!</h3>
      <p>
        Gerade in einer Stadt wie Frankfurt braucht so ein Hauskauf eine ganze Menge Geld. Wir würden uns freuen, wenn ihr uns bei unserem Hauskauf mit Direktkrediten unterstützen könntet. Wie das genau funktioniert wollen wir
           <a href="#finanzierung">hier</a> kurz aufzeigen. 
      </p>
      </div>
    <figure class="card image-card">
      <img src="img/gruppe.jpg" alt="Gruppenfoto der Bewohner:innen">
    </figure>
    </div>
</section>
