<!-- VEREIN -->
<section id="verein" class="section anchor-space">
  <div class="container grid grid-2">
    <figure class="card image-card">
      <img src="img/logo.png" style="width:200px; display:block; margin:20px auto;" alt="Logo: Silhouette eines schwarzen und roten Eichhörnchens, die nach Links oben springen, umgeben von einem schwarzen Kreis mit dem Schriftzug Syntopie Wohnprojekt">
      <img src="img/verein1.jpg" alt="Vereinsmitglieder der Syntopie beim Diskutieren">
    </figure>
    <div class="card">
      <h2>Der Verein</h2>
      <p>
        Die Satzung des Syntopie e.V. legt fest, dass der Verein das gemeinschaftliche Wohnen fördern soll. Entscheidungen treffen wir wenn möglich nach dem Konsentprinzip.
        </p>
        <p>
        Alle Mitglieder sind
        gleichzeitig Bewohner:innen. Der Verein mietet das Haus und untervermietet die Zimmer an uns, die Bewohner:innen. Des Weiteren zahlen die Mitglieder Vereinsbeiträge, von denen gemeinsame Anschaffungen finanziert werden.
      </p>
      <p>
        Aber was heißt „Syntopie“ eigentlich? Syntopie ist ein Kofferwort, gebildet aus „Syntop“ und „Utopie“. Ein Syntop
        (altgriechisch <i>σύν (syn)</i> „zusammen, gemeinsam“ und <i>τόπος (topos)</i> „Ort“) ist ein Lebensraum, in welchem verschiedene Arten oder Populationen koexistieren.
        Eine Utopie (altgriechisch <i>οὐ (ou)</i> „nicht“ und <i>τόπος</i>, also „Nicht-Ort“) ist der Entwurf einer möglichen, zukünftigen, meist aber fiktiven
        Lebensform oder Gesellschaftsordnung.
        </p>
        <p>
        Eine Syntopie ist nach unserem Verständnis demnach eine Synthese von Individualität und Gemeinschaft.
        In unserem Wohnprojekt heißen wir Vielfalt willkommen und möchten individuelle Entfaltung ermöglichen. Zugleich wollen wir sowohl unser
        Zusammenleben als auch Haus und Garten nach gemeinschaftlich ausgehandelten Vorstellungen, unabhängig von tradierten Lebensentwürfen, gestalten.
        </p>
        <p>
        Dafür steht auch unser Logo, das eine Eintracht zwischen zwei Spezies von Eichhörnchen darstellt. Es bringt zudem unseren von Weltoffenheit, Emanzipation und Egalitarismus geprägten Grundkonsens und unser klares Bekenntnis zu Demokratie und Toleranz zum Ausdruck.
        </p>
        <p>
        Im Zuge des Erwerbs unseres Hauses werden wir voraussichtlich eine GmbH gründen, die das Haus kauft und es weiter an seine Bewohner:innen vermietet. Diese GmbH wird vermutlich zwei Gesellschafter haben: den Syntopie e.V. und das Mietshäusersyndikat.
        </p>
        <p>  
        Die Entscheidungen des täglichen Lebens verbleiben damit in der Hand der Bewohner:innen, die als Vereinsmitglieder auch die GmbH lenken. Das Mietshäusersyndikat besitzt lediglich grundlegende Vetorechte, die den Verkauf des Hauses betreffen.
        </p>
    </div>
  </div>
</section>
